
body {
  background-color: #17202A;
}
p {
  color: #E91E63;
  font-family: "Calibri";
  text-align: center;
  font-size: 1.2em;
  line-height: 100%;
}

hide {
  color: #17202A;
}

cb {
  font-family: "Consolas";
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
/* unvisited link */
a:link {
    color: #E91E63;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #E91E63;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #DAF7A6;
    text-decoration: none;
}
fa:hover {
    color: #DAF7A6;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #E91E63;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

m1 {
  color: #E91E63;
  font-family: "Trebuchet MS";
  text-align: center;
  font-size: 2.0em;
  line-height: 100%;
  }
  m2 {
  color: #E91E63;
  font-family: "Trebuchet MS";
  text-align: center;
  font-size: 1.5em;
  line-height: 100%;
  }
  mc {
  color: #E91E63;
  font-family: "Courier New";
  text-align: center;
  font-size: 1em;
  }
h2 {
  color: #E91E63;
  font-family: Arial;
  text-align: center;
  font-size:14;
  }
h3 {
  color: #E91E63;
  font-family: Arial;
  text-align: center;
  font-size:13;
  }

n {
    font-style: normal;
}

i {
    font-style: italic;
}

o {
    font-style: oblique;
}

@font-face {
  font-family: "yipher";
  src: url(https://multi-verse.github.io/harry/challenge/Yipher-Regular.ttf);
}

div {
  font-family: "yipher";
}
